pandas
numpy==1.21.0
seaborn
matplotlib
nltk
tensorflow==2.9.3
keras
regex
scikit-learn
from-root
fastapi==0.78.0  # to run fastapi application used this three library
uvicorn==0.18.3
pydantic
Jinja2==3.1.2
python-dotenv
pymongo
scikit-learn
pydantic
-e .





pydantic
